{% if paginator.total_pages > 1 %}
<div class="pagination">

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a class="ml-1 mr-1" href="{{ '/' | relative_url }}">&laquo; წინა</a>
    {% else %}
      <a class="ml-1 mr-1" href="{{ site.paginate_path | replace: ':num', paginator.previous_page | relative_url }}">&laquo; წინა</a>
    {% endif %}
  {% else %}
    <span>&laquo; წინა</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="ml-1 mr-1">{{ page }}</span>
    {% elsif page == 1 %}
      <a class="ml-1 mr-1" href="{{ '/' | relative_url }}">{{ page }}</a>
    {% else %}
      <a class="ml-1 mr-1" href="{{ site.paginate_path | replace: ':num', page | relative_url }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="ml-1 mr-1" href="{{ site.paginate_path | replace: ':num', paginator.next_page | relative_url }}">შემდეგ &raquo;</a>
  {% else %}
    <span>შემდეგ &raquo;</span>
  {% endif %}

</div>
{% endif %}